---
import Main from '../layouts/Main.astro'
import Nav from '../components/Nav/index.astro'
import UsersList from '../components/Users/'
import Container from '../layouts/Content.astro';
---

<Main title="Usuarios">
    <Container>
        <Nav page="users" />
        <UsersList client:only="react" />
    </Container>
</Main>